* {margin: 0; padding: 0; border: 0;}

a:link
{
    color: rgba(255, 255, 255, 0.8);
}

a:visited
{
    color: rgba(255, 255, 255, 0.8);
}

.about_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.about_container
{
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: row;
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.img_wrapper
{
    width: 50vw;
    height: 100vh;
    flex: 5;
}

.img_wrapper img
{
    width: 50vw;
    height: 100vh;
}

.detail 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.9);
    flex: 5;
    color: rgba(255, 255, 255, 0.8);
    line-height: 2vw;
}

.detail :nth-child(1)
{
    font-size: xx-large;
    margin-bottom: 3vw;
}

.text_about
{
    display: block;
    font-size: 5vw;
    font-weight: bold;
    margin: auto;
    opacity: 0;
    transition: 0.8s ease-in-out;
}