* {margin: 0; padding: 0; border: 0;}

ul
{
    list-style: none;
    font-size: 2vw;
    font-weight: bold;
    line-height: 8vh;
}

.page_wrapper
{
    flex: none;
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}

.page_wrapper div
{
    width: 30vw;
    height: 20vw;
    border-radius: 5px;
}

.photo
{
    background-color: rgba(6, 22, 250, 0.9);
    box-shadow:rgba(0,0,0,0.7) 5px 5px 5px;
}

.photo2
{
    background-color: white;
    box-shadow:rgba(0,0,0,0.7) 5px 5px 5px;
}